/* *{
    border: black 1px solid;
} */

.forecastWrapper {
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	text-align: center;
	background: rgb(2, 17, 66);
	background: linear-gradient(
		0deg,
		rgba(2, 17, 66, 1) 0%,
		rgba(13, 14, 123, 1) 55%,
		rgba(90, 110, 161, 1) 100%
	);
}

.forecastContainer {
    color:white;
	height: 15vh;
	margin-left: 55px;
	margin-right: 55px;
	background-color: rgba(255, 255, 255, 0.05);
	padding: 55px;
}
