* {
	margin: 0;
	/* border: 1px black solid; */
	overflow: hidden;
}

.current-container {
	padding-top: 10vh;
	text-align: center;
	color: white;
	padding-bottom: 10vh;
	width: 25vw;
	margin-left: 38vw;
}

#current-temp {
	font-size: 88px;
}
